.create{
    margin: 0 auto;
    text-align: center;
    max-width: 400px;
}

.create label {
    text-align: left;
    display: block;
}

.create h2{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
}


