.honey {
  --s: 250px;  /* size  */
  --m: -5px;    /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
  // background-color: rgb(58, 57, 57);
  overflow: hidden;
  &_inner {
    display: flex;
    justify-content: center;
    max-width: 1550px;
    padding: 25px 0px 100px;
    margin: 0 auto;
  }
}

.honey_combs {
  font-size: 0; /*disable white space between inline block element */
  padding: 0px 50px;
  &::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(     
  #0000 0 calc(var(--f) - 3px),      
  #000  0 var(--f));
  }
}
.comb {
  position: relative;
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547); 
  display: inline-block;
  font-size:initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  background-color: rgb(0, 217, 255);
  margin-bottom: calc(var(--m) - var(--s)*0.2885); 
  transition: transform .1s;
  padding: 15px;
  background: no-repeat;
  background-size: contain;
  &:hover {
    transform: scale(1.07);
  }
  // &:nth-child(1), 
  // &:nth-child(4),
  // &:nth-child(8),
  // &:nth-child(11) {
  //   visibility: hidden;
  // }
  img {
    width: 100%;
    height: 100%;
  }
  .comb_link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $font;
    font-size: 17px;
    color: white;
    width: fit-content;
    padding: 15px;
    font-weight: 600;
    display: flex;
    flex-flow: column;
    text-align: center;
  }
}


@media screen and (max-width: 1540px) {
  .honey {
    --s: 230px;
    &_inner {
      .comb {
        
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .honey {
    --s: 173px;
    &_inner {
      .honey_combs {
        padding: 0px 15px;
      }
      .comb {
        span {
          font-size: 14px;
        }
      }
    }
  }
}


@media screen and (max-width: 450px) {
  .honey {
    padding-bottom: 300px;
    &_inner {
      .honey_combs {
        padding: -1px 24px;
      }
    }
  }
}