.profile {
  .profile_inner {
    h2 {
      text-align: center;
      margin: 20px 0px;
    }
    .profile_content {
      display: flex;
      .profile_nav {

      }
      .profile_content {

      }
    }
  }
}